In [34]:
import pandas as pd

df_taxi = pd.read_parquet('green_tripdata_2025-11.parquet')

df_zones = pd.read_csv('taxi_zone_lookup.csv')


df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [35]:
df_taxi

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.20,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.00
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.20,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.00
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.50,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.00
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.70,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.00
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.40,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46907,2,2025-11-30 19:58:34,2025-11-30 20:14:28,NaN,NaN,59,51,NaN,8.50,33.22,...,0.5,0.00,0.0,NaN,1.0,34.72,NaN,NaN,NaN,0.00
46908,2,2025-11-30 19:34:00,2025-11-30 19:46:00,NaN,NaN,74,151,NaN,1.73,13.86,...,0.5,0.77,0.0,NaN,1.0,16.13,NaN,NaN,NaN,0.00
46909,2,2025-11-30 21:46:46,2025-11-30 22:17:55,NaN,NaN,33,163,NaN,7.52,38.42,...,0.5,1.00,0.0,NaN,1.0,44.42,NaN,NaN,NaN,0.75
46910,2,2025-11-30 21:00:00,2025-11-30 21:15:00,NaN,NaN,16,95,NaN,5.61,24.67,...,0.5,0.00,0.0,NaN,1.0,26.17,NaN,NaN,NaN,0.00
46911,2,2025-11-30 23:26:00,2025-11-30 23:42:00,NaN,NaN,65,87,NaN,2.91,14.46,...,0.5,3.89,0.0,NaN,1.0,23.35,NaN,NaN,NaN,0.75

In [36]:
df_zones.dtypes

LocationID      int64
Borough           str
Zone              str
service_zone      str
dtype: object

In [37]:
df_taxi.dtypes

VendorID                          int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag                  str
RatecodeID                      float64
PULocationID                      int32
DOLocationID                      int32
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

In [38]:
start = pd.Timestamp("2025-11-01")
end   = pd.Timestamp("2025-12-01")

trips_nov = df_taxi[(df_taxi['lpep_pickup_datetime'] >= start) & (df_taxi['lpep_pickup_datetime']  < end)]
trips_nov

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.20,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.00
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.20,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.00
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.50,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.00
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.70,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.00
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.40,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46907,2,2025-11-30 19:58:34,2025-11-30 20:14:28,NaN,NaN,59,51,NaN,8.50,33.22,...,0.5,0.00,0.0,NaN,1.0,34.72,NaN,NaN,NaN,0.00
46908,2,2025-11-30 19:34:00,2025-11-30 19:46:00,NaN,NaN,74,151,NaN,1.73,13.86,...,0.5,0.77,0.0,NaN,1.0,16.13,NaN,NaN,NaN,0.00
46909,2,2025-11-30 21:46:46,2025-11-30 22:17:55,NaN,NaN,33,163,NaN,7.52,38.42,...,0.5,1.00,0.0,NaN,1.0,44.42,NaN,NaN,NaN,0.75
46910,2,2025-11-30 21:00:00,2025-11-30 21:15:00,NaN,NaN,16,95,NaN,5.61,24.67,...,0.5,0.00,0.0,NaN,1.0,26.17,NaN,NaN,NaN,0.00
46911,2,2025-11-30 23:26:00,2025-11-30 23:42:00,NaN,NaN,65,87,NaN,2.91,14.46,...,0.5,3.89,0.0,NaN,1.0,23.35,NaN,NaN,NaN,0.75

In [39]:
short_trips = trips_nov[trips_nov['trip_distance'] <= 1.0]

#First value is the number of rows matching the task 3 requirements 
short_trips.shape

(8007, 21)

In [40]:
trips_filtered = df_taxi[df_taxi['trip_distance'] < 100.0]
trips_filtered

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.20,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.00
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.20,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.00
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.50,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.00
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.70,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.00
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.40,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46907,2,2025-11-30 19:58:34,2025-11-30 20:14:28,NaN,NaN,59,51,NaN,8.50,33.22,...,0.5,0.00,0.0,NaN,1.0,34.72,NaN,NaN,NaN,0.00
46908,2,2025-11-30 19:34:00,2025-11-30 19:46:00,NaN,NaN,74,151,NaN,1.73,13.86,...,0.5,0.77,0.0,NaN,1.0,16.13,NaN,NaN,NaN,0.00
46909,2,2025-11-30 21:46:46,2025-11-30 22:17:55,NaN,NaN,33,163,NaN,7.52,38.42,...,0.5,1.00,0.0,NaN,1.0,44.42,NaN,NaN,NaN,0.75
46910,2,2025-11-30 21:00:00,2025-11-30 21:15:00,NaN,NaN,16,95,NaN,5.61,24.67,...,0.5,0.00,0.0,NaN,1.0,26.17,NaN,NaN,NaN,0.00
46911,2,2025-11-30 23:26:00,2025-11-30 23:42:00,NaN,NaN,65,87,NaN,2.91,14.46,...,0.5,3.89,0.0,NaN,1.0,23.35,NaN,NaN,NaN,0.75

In [41]:
longest_trip_date = trips_filtered[trips_filtered['trip_distance'] == trips_filtered.trip_distance.max()]['lpep_pickup_datetime']
longest_trip_date

18867   2025-11-14 15:36:27
Name: lpep_pickup_datetime, dtype: datetime64[us]

In [42]:
df_taxi = df_taxi.merge(
    df_zones[['LocationID', 'Zone']],
    left_on='PULocationID',
    right_on='LocationID',
    how='left'
)
df_taxi = df_taxi.drop(columns=['LocationID'])

In [43]:
df_taxi

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee,Zone
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.20,...,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.00,East Harlem North
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.20,...,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.00,East Harlem North
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.50,...,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.00,Elmhurst/Maspeth
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.70,...,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.00,Morningside Heights
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.40,...,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.00,Morningside Heights
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46907,2,2025-11-30 19:58:34,2025-11-30 20:14:28,NaN,NaN,59,51,NaN,8.50,33.22,...,0.00,0.0,NaN,1.0,34.72,NaN,NaN,NaN,0.00,Crotona Park
46908,2,2025-11-30 19:34:00,2025-11-30 19:46:00,NaN,NaN,74,151,NaN,1.73,13.86,...,0.77,0.0,NaN,1.0,16.13,NaN,NaN,NaN,0.00,East Harlem North
46909,2,2025-11-30 21:46:46,2025-11-30 22:17:55,NaN,NaN,33,163,NaN,7.52,38.42,...,1.00,0.0,NaN,1.0,44.42,NaN,NaN,NaN,0.75,Brooklyn Heights
46910,2,2025-11-30 21:00:00,2025-11-30 21:15:00,NaN,NaN,16,95,NaN,5.61,24.67,...,0.00,0.0,NaN,1.0,26.17,NaN,NaN,NaN,0.00,Bayside
46911,2,2025-11-30 23:26:00,2025-11-30 23:42:00,NaN,NaN,65,87,NaN,2.91,14.46,...,3.89,0.0,NaN,1.0,23.35,NaN,NaN,NaN,0.75,Downtown Brooklyn/MetroTech

In [50]:
start = pd.Timestamp("2025-11-18")
end   = pd.Timestamp("2025-11-19")
df_18th_nov = df_taxi[(df_taxi['lpep_pickup_datetime'] >= start) & (df_taxi['lpep_pickup_datetime'] < end)]
df_18th_nov

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee,Zone
22419,2,2025-11-18 08:07:00,2025-11-18 08:19:15,N,1.0,74,75,1.0,1.40,12.10,...,3.40,0.00,NaN,1.0,17.00,1.0,1.0,0.00,0.00,East Harlem North
22420,2,2025-11-18 08:19:54,2025-11-18 08:29:08,N,1.0,75,236,1.0,1.33,10.00,...,2.85,0.00,NaN,1.0,17.10,1.0,1.0,2.75,0.00,East Harlem South
22421,2,2025-11-18 08:42:22,2025-11-18 08:53:49,N,1.0,74,236,1.0,1.97,12.10,...,3.27,0.00,NaN,1.0,19.62,1.0,1.0,2.75,0.00,East Harlem North
22528,2,2025-11-18 09:08:07,2025-11-18 09:14:44,N,1.0,74,166,1.0,0.86,7.90,...,1.60,0.00,NaN,1.0,11.00,1.0,1.0,0.00,0.00,East Harlem North
22529,2,2025-11-18 09:37:57,2025-11-18 09:52:39,N,1.0,74,116,1.0,2.16,15.60,...,5.13,0.00,NaN,1.0,22.23,1.0,1.0,0.00,0.00,East Harlem North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44825,6,2025-11-18 20:42:28,2025-11-18 21:30:50,NaN,NaN,236,123,NaN,16.14,2.90,...,0.00,6.94,NaN,0.3,46.87,NaN,NaN,NaN,0.00,Upper East Side North
44826,6,2025-11-18 20:50:43,2025-11-18 22:03:03,NaN,NaN,263,61,NaN,12.55,2.90,...,0.00,0.00,NaN,0.3,42.40,NaN,NaN,NaN,0.00,Yorkville West
44827,2,2025-11-18 20:25:00,2025-11-18 20:50:00,NaN,NaN,244,249,NaN,8.54,40.07,...,9.01,0.00,NaN,1.0,54.08,NaN,NaN,NaN,0.75,Washington Heights South
44828,2,2025-11-18 22:38:00,2025-11-18 22:47:00,NaN,NaN,166,74,NaN,1.76,16.44,...,3.59,0.00,NaN,1.0,21.53,NaN,NaN,NaN,0.00,Morningside Heights
44829,2,2025-11-18 22:21:00,2025-11-18 22:34:00,NaN,NaN,97,148,NaN,2.66,20.77,...,3.61,0.00,NaN,1.0,29.38,NaN,NaN,NaN,0.75,Fort Greene

In [58]:
trips_per_zone = df_18th_nov.groupby('Zone')['lpep_pickup_datetime'].count()
trips_per_zone = trips_per_zone.rename("trip_count").reset_index()

max_row_df = trips_per_zone.nlargest(1, 'trip_count')
print(max_row_df)

                 Zone  trip_count
39  East Harlem North         434

In [66]:
start = pd.Timestamp("2025-11-01")
end   = pd.Timestamp("2025-12-01")

trips_nov = df_taxi[(df_taxi['lpep_pickup_datetime'] >= start) & (df_taxi['lpep_pickup_datetime']  < end)]

trips_nov = trips_nov.rename(columns={'Zone': 'PUZone'}) 

trips_nov = trips_nov.merge(
    df_zones[['LocationID', 'Zone']],
    left_on='DOLocationID',
    right_on='LocationID',
    how='left'
).rename(columns={'Zone': 'DOZone'}) 

trips_nov = trips_nov.drop(columns=['LocationID'])

ehn_df = trips_nov[trips_nov['PUZone'] == 'East Harlem North']
ehn_df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee,PUZone,DOZone
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.20,...,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0,East Harlem North,Central Harlem North
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.20,...,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0,East Harlem North,Central Harlem North
23,2,2025-11-01 00:38:13,2025-11-01 00:55:47,N,1.0,74,262,1.0,3.40,19.80,...,0.0,NaN,1.0,27.05,1.0,1.0,2.75,0.0,East Harlem North,Yorkville East
51,2,2025-11-01 00:20:44,2025-11-01 00:27:05,N,1.0,74,74,1.0,0.78,7.90,...,0.0,NaN,1.0,10.40,1.0,1.0,0.00,0.0,East Harlem North,East Harlem North
65,2,2025-11-01 00:20:37,2025-11-01 00:24:42,N,1.0,74,41,1.0,0.77,6.50,...,0.0,NaN,1.0,9.00,2.0,1.0,0.00,0.0,East Harlem North,Central Harlem
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46875,2,2025-11-30 16:50:21,2025-11-30 17:08:49,NaN,NaN,74,151,NaN,2.41,19.81,...,0.0,NaN,1.0,24.51,NaN,NaN,NaN,0.0,East Harlem North,Manhattan Valley
46877,2,2025-11-30 16:15:00,2025-11-30 16:27:00,NaN,NaN,74,263,NaN,1.99,15.34,...,0.0,NaN,1.0,23.51,NaN,NaN,NaN,0.0,East Harlem North,Yorkville West
46878,2,2025-11-30 16:26:00,2025-11-30 16:44:00,NaN,NaN,74,167,NaN,2.75,8.22,...,0.0,NaN,1.0,9.72,NaN,NaN,NaN,0.0,East Harlem North,Morrisania/Melrose
46885,2,2025-11-30 18:31:00,2025-11-30 18:52:00,NaN,NaN,74,142,NaN,3.84,27.23,...,0.0,NaN,1.0,35.89,NaN,NaN,NaN,0.0,East Harlem North,Lincoln Square East
46887,2,2025-11-30 19:34:00,2025-11-30 19:46:00,NaN,NaN,74,151,NaN,1.73,13.86,...,0.0,NaN,1.0,16.13,NaN,NaN,NaN,0.0,East Harlem North,Manhattan Valley

In [71]:
tips_per_zone = ehn_df.groupby('DOZone')['tip_amount'].sum().rename("tip_sum").reset_index()
max_tip_per_zone = tips_per_zone[tips_per_zone['tip_sum'] == tips_per_zone.tip_sum.max()]
max_tip_per_zone

                    DOZone  tip_sum
114  Upper East Side North  4242.01

In [75]:
max_tip = ehn_df[ehn_df['tip_amount'] == ehn_df.tip_amount.max()]
max_tip['DOZone']

40867    Yorkville West
Name: DOZone, dtype: str